{% extends "base.html" %}
{% block title %}Stargazers · {{gist.gist_name}}{% endblock %}

{% block script %}
<link rel="stylesheet" href="../../static/css/base.css">
<link rel="stylesheet" href="../../static/css/gist_stargazers.css">
<script src="../../static/js/base.js"></script>
{% endblock %}

{% block content %}
<body>
    <body>
        <div id="return">
            <button>
                <a href="{{ '/gist/%s'%gist.gist_id }}">
                    <img src="../../static/img/return.png"> return to gist
                </a>
            </button>
        </div>
        
        <h2 style="text-align:center;"><span >Stargazers</span></h2>
        <div class="grid-container">
            {% for stargazer in stargazers%}
            <div class="grid-item">
                <h3 id="{{ 'user%s'%loop.index }}">
                    <span id="{{stargazer.user_id}}">
                        <img src="{{ stargazer.picture}}" id="user-pic"><br>
                        <a href="{{ '/user/%s'%stargazer.user_id }}">{{stargazer.user_name}}</a>
                    </span>
                </h3>
            </div>
            {% endfor %}
        </div>
</body>

{% endblock %}
