{% extends "base.html" %}
{% block title %}{{gist.description}}{% endblock %}

{% block script %}
<link rel="stylesheet" href="../static/css/base.css">
<script src="../static/js/base.js"></script>
<script src="../static/js/gist.js"></script>
{% endblock %}

{% block content %}
<body>
    <div class="row">
        <h2 style="width:50%"><span>{{gist.gist_name}}</span></h2>
        <div id="star_group" style="height: 5%; margin-top: 2.6%; margin-left: 15%">
            {% if session.profile %}
            <button type="button" id="star_gist"></button>
            {% endif %}
                <button id="star_num">
                    <a href="{{ '/gist/%s/stargazers'%gist.gist_id }}">
                        Stared: {{gist.stars}}
                    </a>
                </button>
        </div>
    </div>

    <p style="color:grey">Description: {{ gist.description }}</p>
    <textarea>{{gist.content}}</textarea>
    <ul id="{{ gist_id }}"></ul>
    {% for comment in comments%}
    <ul id="comments">
        <p id="{{ comment.comment_id }}">
            <span id="{{comment.user_id}}">
                <a id="commented_user"
                   href="{{ '/user/%s'%comment.user_id }}"
                >
                    {{comment.user_name}}
                </a>
            </span>
            commented at {{ comment.commented_at }}
        </p>
        <textarea id="{{ comment.comment_id }}" name="content">{{ comment.content }}</textarea>
    </ul>
    {% endfor %}
    <hr>
    {% if session.profile %}
    <form>
        <textarea id="content" name="advice" placeholder="Leave a comment"></textarea>
        <button
            id="submit" class="pure-button button-primary"
            style="background: rgb(28, 184, 65); margin-top: 10px;"
        >
            Comment
        </button>
    </form>
    <div id="errorAlert" style="background: rgb(202, 60, 60); display:none;"></div>
    {% endif %}
</body>
{% endblock %}
