{% extends "base.html" %}
{% block title %}{{ user.user_name }}{% endblock %}

{% block script %}
<script src="../static/js/user.js"></script>
{% endblock %}

{% block content %}
<body>
    <h2 style="text-align:center;"><span >{{ user.user_name }}</span></h2>
    <button id="gist_num" style="margin-left: 4.6%">
        <a href="{{ url_for('route_blueprint.user_page', user_id=user.user_id) }}" style='text-decoration:none;'>
            All gists: {{ gists|length }}
        </a>
    </button>

    {% for gist in gists%}
    <ul id="{{gist.gist_id}}">
        <h3 id="{{ 'name%s'%loop.index }}">
            <span id="{{gist.user_id}}">
                <a href="{{ '/user/%s'%gist.user_id }}" style='text-decoration:none;'>{{gist.user_name}}</a>
            </span>
            /<span id="{{gist.gist_id}}">
                <a href="{{ '/gist/%s'%gist.gist_id }}" style='text-decoration:none;'>{{gist.gist_name}}</a>
            </span>
        </h3>
        <p id="{{ 'desc%s'%loop.index }}">Description: {{ gist.description }}</p>
        <textarea id="{{ 'content%s'%loop.index }}" name="content">{{ gist.content }}</textarea>
    </ul>
    {% endfor %}
</body>
{% endblock %}
