<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% block script %}{% endblock %}
    </head>
    <body>
            <div class="pure-menu pure-menu-horizontal wrapper">
                <a href="{{ url_for('route_blueprint.create_page') }}" class="pure-menu-heading pure-menu-link">Lemon Gist</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="{{ url_for('route_blueprint.discover_page') }}" class="pure-menu-link"> All Gists</a>
                    </li>
                    {% if session.profile %}
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a title="{{ session['profile'].user_id }}" 
                           id="current_user"
                           class="pure-menu-link"
                        >
                            {{ session['profile'].name }}
                        </a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a id="current_gists"
                                   class="pure-menu-link"
                                >
                                    My gists
                                </a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{{ url_for('route_blueprint.user_logout') }}" class="pure-menu-link">Logout</a>
                            </li>
                        </ul>                    
                    </li>
                    {% else %}
                    <li class="pure-menu-item">
                        <a href="{{ url_for('route_blueprint.user_login') }}" class="pure-menu-link">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
    {% include 'footer.html' %}
</html>
