<footer>
    <div id="footer-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Twemoji_1f34b.svg/512px-Twemoji_1f34b.svg.png" width="30"> 
        Lemon Gist
    </div>

    <div id="footer-contact">
        <span>TALK WITH US</span>
        <span><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=wang9535@umn.edu" target="_blank">Zhaoyu Wang</a></span>
        <span><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=zhan7230@umn.edu" target="_blank">Zixuan Zhang</a></span>
        <span><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=cheng904@umn.edu" target="_blank">Ziying Cheng</a></span>

    </div>

    
    <hr>
    <div id="footer-copy">&copy;Copyright. All right reserved.</div>
    
</footer>
